@import './../../../../admin/pages/admin.component.scss';
#menu-toggle {
    color: $admin-primary-color;
    background-color: transparent;
    transition: .3s ease;
    border-color: $admin-primary-color !important;
    &:hover {
        background-color: $admin-primary-color;
        color: white;
        border-color: $admin-primary-color !important;
    }
}

.shadow {
    -webkit-box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.75);
}