@import './../../../../admin/pages/admin.component.scss';
#sidebar-wrapper {
    background-color: $admin-primary-color;
}

.sidebar-heading {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: .1s ease;
    a {
        color: whitesmoke;
        list-style: none;
        font-weight: bold;
        font-size: 1.8rem;
        &:hover {
            text-decoration: none;
            list-style: none;
        }
    }
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-bottom: 2rem;
    img {
        max-width: 5rem;
    }
    font-weight: bold;
    span {
        font-weight: normal;
        display: block;
    }
}